.publication-img{
    float:right;
    max-width:250px;
    padding:0;
    border: 1px solid black;
    margin-left: 10px;
}

.badge{
    border-radius: 20px;
    padding: 2px 6px;
    color:white;
    background-color: #7EAF73;
    font-size: 10pt;
    white-space: nowrap;
}

.highlight code{
    font-size: smaller;
}
