---
layout: default
---

<small><a href="{{page.all_projects_page}}">Back to all projects</a></small>

<h1>{{page.title}}</h1>

<p>
{%- if page.authors %}
<em>By {{ page.authors | map: 'name' | join: ', '}}.</em>
{% else %}
<em>{{ page.author }}.</em>
{% endif -%}
</p>
<p>
{%- if page.group_number %}
<em>Group {{ page.group_number }}.</em>
{% else %}
{% endif -%}
</p>

{% if page.image %}
<img class="p2-img" src="{{page.image}}"/>
{% endif %}
<small><a href="{{page.paper}}" target="_blank">Paper</a>.</small>
{%- if page.website %}
<small><a href="{{page.website}}">Website</a>.</small>
{% endif -%}
{%- if page.source -%}
<small><a href="{{page.source}}">Source code</a>.</small>
{% endif -%}

<p><em>{{page.summary}}</em></p>

{{content}}

